@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --dark-gray: #23272A;
    --light-gray: #F6F6F6;
}

html{
    font-family: "Open Sans", sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, auto) 134px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}

