@import url(./global.css);
@import url(./reset.css);

header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    grid-area: header;
    background-image: url(../images/Header_Background.png);
    background-size: cover;
    background-position: right bottom;
}

.header{
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;

    width: 100%;
    max-width: 381px;
    padding: 69px 0px;

    text-align: left;
    color: white;
}

.header h1{
    max-width: 278px;
    font-family: "Luckiest Guy", cursive;
    font-size: 32px;
    font-weight: 400;
}

.header p{
    max-width: 381px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}

.header div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header div button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 381px;
    height: 52px;
    border: none;
    border-radius: 28px;

    font-size: 16px;
    font-weight: 400;

    background-color: white;
}

.header button:nth-last-child(1){
    background-color: var(--dark-gray);
    color: white;
}

main{
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.item{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 27px;

    padding: 40px 0px;

}

.item div{
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;

    width: 100%;
    max-width: 370px;
}

.item div h2{
    font-size: 24px;
    font-weight: 800;
}

.item div p {
    font-size: 16px;
    font-weight: 400;
}

.item:nth-of-type(2n){
    background-color: var(--light-gray);
}

.item-4 div{
    max-width: 378px;
}

.item-4 div h2{
    font-family: "Luckiest Guy", cursive;
    font-size: 32px;
    font-weight: 400;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: var(--dark-gray);
}

@media screen and (min-width: 769px){
    header{
        background-image: url(../images/Header_Background_desktop.png);
        background-position: center;
        justify-content: center;
        align-items: center;
    }

    .header{
        height: 459px;
        max-width: 757px;

        padding: 0;

        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .header h1{
        max-width: 313px;
        font-family: "Luckiest Guy", cursive;
        font-size: 56px;
        font-weight: 400;
    }

    .header p{
        max-width: 757px;
    }

    .header div{
        flex-direction: row;
    }

    .header div button{
        width: 281px;
        height: 44px;
    }

    .item{
        flex-flow: row nowrap;
        gap: 16px;
    }

    .item div{
        width: 348px;
    }

    .item div h2{
        font-weight: 800;
        font-size: 40px;
    }
    
    .item div p{
        font-weight: 400;
        font-size: 16px;
    }

    .item-2 picture{
        order: 1;
    }

    .item-4{
        flex-direction: column;
    }

    .item-4 div{
        width: 100%;
        max-width: 802px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .item-4 div h2{
        max-width: 608px;
    }
}